.desc-positivus{
    width: 501px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 17px;

}

.desc-positivus h2{
    width: 458px;
}

.desc-positivus p{
    font-size: 20px;
    width: 498px;
}
.btn-positivus{
    background-color: var(--black-color);
    color: var(--white-color);
    width: 264px;
    height: 68px;
    border-radius: 14px;
}