.desc-contact-us {
    width: 40%;
}

.bg-text-contact-us {
    background-color: var(--green-color);
    width: 50%;
}

.card-contact-us {
    background-color: var(--gray-color);
}

.btn-contact-us {
    background-color: var(--black-color) !important;
    color: white;
    width: 100%;
}

.image-contact-us {
    position: absolute;
    top: 5%;
    width: 40%;
    left: 78.5%;
}
.radio-positivus{
    width: 20%;
}
.radio-positivus-2{
    width: 20%;
}
.image-contact-us-positivus{
    display: block;
}
.radio-positivus{
    gap: 10px;
    width: 10%;
}
@media (max-width: 1250px) {
    .image-contact-us-positivus{
        display: none;
    }
    .radio-positivus{
        gap: 10px;
        width: 100%;
    }
}
@media (max-width: 1024px) {
    .image-contact-us-positivus{
        display: none;
    }
    .radio-positivus{
        gap: 10px;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .desc-contact-us{
        width: 100%;
    }
    .image-contact-us-positivus{
        display: none;
    }
    .radio-positivus{
        gap: 10px;
        width: 100%;
    }
}
@media (max-width: 580px) {}
@media (max-width: 450px) {}