.horizontal-li{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}
/* MD */
@media (max-width: 768px) {
    .menu-positivius{
        display: none;
    }
}

/* LG */
@media (max-width: 992px) {
    .menu-positivius{
        display: none;
    }
}