.desc{
    font-size: 16px;
    width: 30%;
}
.card-mod{
    background-color: var(--green-color) !important;
}
.card-mod-2{
    background-color: var(--gray-color) !important;
}
.icon-plus-minus{
    width: 58px;
    height: 58px;
    background-color: var(--gray-color);
    border-radius: 50%;
    border: 1px solid var(--black-color);
}